[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
seaborn = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
sklearn = "*"
jupyter = "*"
notebook = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
